/* Resetando as configurações padrões */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.instagram-phone .phone {
    height: 50%;
    width: 50%;
    -webkit-transform: translate(-450px);
}